.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .rodape {
        padding: 25px;
    }
    .rodape-imagem {
        height: 25px;
    }
}
